<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <% @carousels.each_with_index do |carousel, index| %>
      <li data-target="#myCarousel" data-slide-to=<%= index %> <%= carousel_active_class(index) %>></li>
    <% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @carousels.each_with_index do |carousel, index| %>
    <div class="<%=carousel_active_item(index)%>">
      <%= carousel_image(carousel) %>
      <div class="carousel-caption">
        <h4><%= link_to carousel.title, article_path(carousel)%></h4>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>