<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <% @carousels.each_with_index do |carousel, index| %>
      <li data-target="#myCarousel" data-slide-to=<%= index %> <%= carousel_active_class(index) %>></li>
    <% end %>  
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @carousels.each_with_index do |carousel, index| %>
    <div class="<%=carousel_active_item(index)%>">
      <img src="http://localhost:3000/ckeditor_assets/pictures/1/content_5aw5127qko0.jpg" alt>
      <div class="carousel-caption">
        <h4><%= carousel.title%></h4>
        <p><%= carousel.body.split(" ")[0..9].join(" ")%></p>
      </div>
    </div>
    <% end %> 
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>